.social_login
    button.social_login_github
        span
            i.fab.fa-github
        | &nbsp; Continue with GitHub
    button.social_login_facebook
        span
            i.fab.fa-facebook
        | &nbsp; Continue with FaceBook