.footer {
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px solid rgba(9, 54, 135, 0.4);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  .footer_icon {
    color: $oasis;
    background-color: white;
    font-size: 35px;
    margin-bottom: 11px;
  }
  .footer_text {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 800px;
    text-transform: uppercase;
  }
}
