extends layouts/main
include mixins/videoBlock

block content
    .search_header
        h3 Searching for #{searchingBy}
    .search_videos
    if videos.length === 0
        h5 No Videos Found
    each video in videos
        +videoBlock({
                id:video.id,
                title:video.title,
                views:video.views,
                fileUrl:video.fileUrl
            })