extends layouts/main

block content
    .form_container
        form(action=routes.videos+routes.upload, method='post', enctype="multipart/form-data")
            .fileUpload
                label(for="file") Video File
                input(type="file", id="file", name="videoFile" ,required=true, accept="video/*")
            input(type="text", name='title', placeholder='Title' ,required=true)
            textarea(name="description", placeholder='Description ',cols="6", rows="2" ,required=true)
            input(type="submit", value='Update Video')
