extends layouts/main
include mixins/videoBlock

block content
    .user_profile
        .user_profile_header            
            img.user_avatar(src=user.avatarUrl, alt="")
            h4.profile_username=user.name
        if user.id === loggedUser.id
            .user_profile_btn
                a(href=routes.users + routes.editProfile)
                    button Edit Profile
    .home-videos
        each video in user.videos
            +videoBlock({
                id:video.id,
                title:video.title,
                views:video.views,
                fileUrl:video.fileUrl                
            })