extends layouts/main

block content
    .video_detail_container
        .video_player        
            video(src='/'+video.fileUrl, controls="true")
        .video_info
            button(type='button', onclick='location.href="'+routes.editVideo(video.id)+'"') Edit Video            
            h5.video_title=video.title
            if video.views === 1
                span.video_views 1 view
            else
                span.video_views #{video.views} views
            p.video_description=video.description
        .video_comments
            if video.comments.length === 1
                span.video_comment_number 1 comment
            else
                span.video_comment_number #{video.comments.length} comments