.home-videos {
  video {
    width: 384px;
  }
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  grid-gap: 30px;
  .videoBlock_title {
    font-size: 18px;
    font-weight: 400px;
    margin-top: 10px;
  }
  .videoBlock_views {
    font-size: 15px;
    font-weight: 200px;
    margin-top: 10px;
  }
}
